body {
    font-family: sans;
    font-size: 1em;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
}

.chatBoard{
    width: 300px;
    height: 200px;
    left:700px;
    z-index:100;
    position:absolute
}

.inputBoxGroup{
position:absolute;
top:400px
}

.danmu-input {
	display : none !important; 
}

.send-btn{
	display : none !important; 
}
